[user]
       email = joolsmf@gmail.com
       name = Julian Fenner 
[core]
       editor = vim
	excludesFile = ~/.gitignore

[alias]
    co   = checkout
    comr = checkout master
    comn = checkout main
    cob  = checkout -b
    st   = status
    br   = branch
    di   = diff
    sh   = show
    brd  = branch -D
    pl   = pull
    po   = push origin 
